{% extends "layout_custom.html" %}

{% block pageTitle %}
Add a Job Role
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/view-jobRoles.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Add a Job Role</h1>

        {% if success %}
        <div id="succes" class="govuk-error-message reg-success">{{ success }}</div>
        {% endif%}

        {% if errormessage %}
        <div id="regError" class="govuk-error-message">{{ errormessage }}</div>
        {% endif %}

        <form class="form" action="/add-job-roles" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="roleName">
                        Role Name
                    </label>
                </h1>
                <input class="govuk-input" id="roleName" name="roleName" value="{{roleName}}" type="text" required>

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="specification">
                        Specification
                    </label>
                </h1>
                <input class="govuk-input" id="specification" name="specification" value="{{specification}}" type="text" required>

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="link">
                    Link
                    </label>
                </h1>
                <input class="govuk-input" id="link" name="link" value="{{link}}" type="text" required>

                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                name: "bandID",
                fieldset: {
                legend: {
                text: "Band",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
                },
                hint: {
                text: " The current Band  is "+ band
                },
                items: [
                {
                value: "1",
                text: "Principal",
                checked:bandCheck1
                },
                {
                value: "2",
                text: "Manager",
                checked:bandCheck2
                },
                {
                value: "3",
                text: "Consultant",
                checked:bandCheck3
                },
                {
                value: "4",
                text: "Senior Associate",
                checked:bandCheck4
                },
                {
                value: "5",
                text: "Associate",
                checked:bandCheck5
                },
                {
                value: "6",
                text: "Trainee",
                checked:bandCheck6
                }
                ]
                }) }}

                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                name: "capabilityID",
                fieldset: {
                legend: {
                text: "Capability",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
                },
                hint: {
                text: " The current capability  is "+cap
                },
                items: [
                {
                value: "1",
                text: "Data & AI",
                checked:capCheck1
                },
                {
                value: "2",
                text: "Engineering",
                checked:capCheck2

                }
                ]
                }) }}

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="responsibility">
                        Responsibility
                    </label>
                </h1>
                <input class="govuk-input" id="responsibility" name="responsibility" value="{{responsibility}}" type="text" required>


                <br>
                <button colour="#009639" id="jobSpecBtn" class="govuk-button" data-module="govuk-button">Create new role</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}