
{% extends "layout_custom.html" %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block content %}

<style>
  main {
    padding-top: 20px !important;
  }

  .labelContainer {
    background-color: #e5e5e5e6;
  }
</style>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="view-jobRoles">
        <img class="d-block w-100" src="https://wallpaperaccess.com/full/656670.jpg" alt="First slide">
        <div class="labelContainer carousel-caption d-none d-md-block">
            <h5>Job Roles</h5>
            <p>View all avaliable job role at Kainos.</p>
        </div>
      </a>
      </div>
      <div class="carousel-item">
        <a href="predict-gender-bias">
          <img class="d-block w-100" src="https://wallpaper.dog/large/20407843.jpg" alt="Second slide">
          <div class="labelContainer carousel-caption d-none d-md-block">
            <h5>Prediction</h5>
            <p>Predict job description gender bias.</p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.kainos.com/about-us">
          <img class="d-block w-100" src="https://wallpaper.dog/large/20407832.jpg" alt="Third slide">
          <div class="labelContainer carousel-caption d-none d-md-block">
            <h5>About Kainos</h5>
            <p>Thinking beyond limitations.</p>
          </div>
        </a>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="pt-2 pb-3">
  Kainos Employee System
</h1>

<h3 class="mt-5">About this page</h3>
<p>We recommend you click on the links and explore all the avaliable information on the Kainos Job Roles.</p>

<div class="">
  <h3 class="mt-5">Choose action:</h3>
  <div class="text-center">
    <a id="jobRolesLink" href="view-jobRoles" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Job Roles</h5>
          <span>View avaliable job roles</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="predict-gender-bias" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Prediction</h5>
          <span>Predict gender bias</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="#" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Test</h5>
          <span>Lorem ipsum dolor</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="#" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Test</h5>
          <span>Lorem ipsum dolor</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="#" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Test</h5>
          <span>Lorem ipsum dolor</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="#" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Test</h5>
          <span>Lorem ipsum dolor</span>
        </div>
      </button>
    </a>
    <a id="genderBiasLink" href="#" style="text-decoration: none;" class="me-2">
      <button type="button" class="btn btn-outline-dark py-3 my-2" style="width: 190px">
        <div>
          <h5>Test</h5>
          <span>Lorem ipsum dolor</span>
        </div>
      </button>
    </a>
    
  </div>
</div>

{% endblock %}