
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kainos Employee System
      </h1>{{releaseVersion | log }}
      <p>
        This website contains all the Kainos Employee Roles
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you click on the links and explore all the avaliable information on the Kainos Job Roles.</p>

      <h2 class="govuk-heading-m">Kainos Job Roles</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="view-jobRoles">Job Roles</a>
        </li>
        <li>
          <a href="job-specification">Job Specification</a>
        </li>
        <li>
          <a href="/view-capabilities.html">Capabilities Level</a>
        </li>

        <li>
          <a href="/viewBandLevel.html">Band Level</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
