
{% extends "layout_custom.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kainos Employee System
      </h1>{{releaseVersion | log }}
      <form id="form" action="" method="POST" onsubmit="return false">
        <fieldset class="govuk-fieldset">

          <div id="error" class="govuk-warning-text" style="display: none;">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <div id="errorMsg" class="govuk-warning-text__text"></div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="email">Email</label>
            <input class="govuk-input govuk-!-width-two-thirds" id="email" type="email" autocomplete="off" required>
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="paassword">Password</label>
            <input class="govuk-input govuk-!-width-two-thirds" id="password" type="password" autocomplete="off" required>
          </div>
            <button id="loginBtn" type="submit" class="govuk-button" data-module="govuk-button">
              Submit
            </button>
        </fieldset>
      </form>
    </div>
  </div>

  <script>

    const error = document.getElementById("error")
    const errorMsg = document.getElementById("errorMsg")
    const form = document.getElementById("form")



    form.addEventListener("submit", () => {
      const login = {
        email: email.value,
        password: password.value
      }

      fetch("/auth", {
        method: "POST",
        body: JSON.stringify(login),
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(res => res.json())
      .then(data => {
        if (data.status == "error"){
          error.style.display = "block"
          errorMsg.innerText = data.error
        } 
        else {
          error.style.display = "none"
          window.location.href = '/index'
        }
      })
    })

  </script>
{% endblock %}

