{% extends "layout_custom.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Predict job description gender bias</h1>

      <form class="form" action="/gender-bias" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
        name: "gender-bias",
        id: "gender-bias",
        label: {
        text: "Please enter job description here",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        value: data['gender-bias']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>
      {% if biasInfo|length %}
      <body>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Percentage of biased words in text</th>
              <td id="jobRoleName" class="govuk-table__cell">{{ biasInfo.percentage_bias }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Detected male biased words</th>
              <td id="specTextId" class="govuk-table__cell">{{ biasInfo.biased_words_male }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Detected female biased words</th>
              <td id="specTextId" class="govuk-table__cell">{{ biasInfo.biased_words_female }}</td>
            </tr>
          </tbody>
      </table>
      {% endif %}

      </body>

    </div>
  </div>

{% endblock %}
