{% extends "layout_custom.html" %}

{% block pageTitle %}
Matrix of Roles
{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: url+"view-jobRoles"
  }) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Kainos Employee System
            <span id="matrixOfRolesTitle" class="govuk-caption-xl">Matrix of Roles</span>
        </h1>{{releaseVersion | log }}

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <th scope="row" class="govuk-table__header">Band Level</th>
                {% set capabilityID = jobRoles[0].capabilityID %}
                <th scope="row" class="govuk-table__header">{{ capabilities[capabilityID - 1].capabilityName }}</th>
                <th scope="row" class="govuk-table__header"></th>

                {% set cellCounter = 0 %}
                {% set maxCellsInRow = 0 %}

                {% for band in bandLevels %}
                <tr id="table-row-{{ band.bandID }}" class="govuk-table__row">
                    <th class="govuk-table__cell">
                        {{ band.bandName }}
                    </th>
                    {% set cellsInRow = 0 %}

                    {% for job in jobRoles %}
                        {% if job.bandID == band.bandID %}

                        {% set cellCounter = cellCounter + 1 %}
                        {% set cellsInRow = cellsInRow + 1 %}
                            <td id="table-cell-{{ cellCounter }}" class="govuk-table__cell">
                                <a class="govuk-footer__link" href="{{ url }}job-specification/{{ job.jobRoleId }}">
                                {{ job.roleName }}
                                </a>
                            </td>
                        {% endif %}
                    {% endfor %}
                    
                    {% if cellsInRow > maxCellsInRow %}
                        {% set maxCellsInRow = cellsInRow %}
                    {% endif %}

                    {% for _ in range(0, maxCellsInRow-cellsInRow) %}
                        <td class="govuk-table__cell"></td>
                    {% endfor %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}