{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Kainos Employee System
    </h1>
    {% set bandLevelRows = [] %}
    <table class="govuk-table">
      <th scope="col" class="govuk-table__header">Job Roles</th>
      <th scope="col" class="govuk-table__header">Band Level</th>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row" id="bandLevelID">
        {% for band in bandLevel %}
        <td class="govuk-table__cell">
          <p class="gov_role_name" id = {{ band.roleName }}>
            {{ band.roleName }}
          </p>
        </td>
        <td class="govuk-table__cell">
          <p class="gov_role_band" id = {{ band.bandName }}>
            {{ band.bandName }}
          </p>

        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
