{% extends "layout.html" %}

{% block pageTitle %}
Matrix – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "http://localhost:3000/index"
  }) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Kainos Employee System
            <span id="jobRolesTitle" class="govuk-caption-xl">Job Roles Report</span>
        </h1>{{releaseVersion | log }}

        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
                Choose capability:
            </label>

            <select class="govuk-select" id="capabilitiesSelector" name="capabilitiesSelector">
                {% for cap in capabilities %}
                    <option value="{{ cap.capabilityID }}">{{ cap.capabilityName }}</option>
                {% endfor %}
                <!-- <option selected value="1">Data & AI</option> -->
                <!-- <option value="2">Engineering</option> -->
            </select>

            <button onclick="getOption()" class="govuk-button" data-module="govuk-button">
                Submit
            </button>
        </div>

        <script type="text/javascript">
            function getOption() {
                var header = $( "#capabilitiesSelector option:selected" ).text();
                var selectedId = $( "#capabilitiesSelector option:selected" ).val();
                let url = 'http://localhost:3000/view-matrix/' + selectedId;
                window.location.replace(url);
            }
        </script>
    </div>
</div>

{% endblock %}