{% extends "layout_custom.html" %}

{% block pageTitle %}
Band Information – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "http://localhost:3000/view-jobRoles"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Kainos Employee System
            <span id="bandInformationTitle" class="govuk-caption-xl">{{ training[0].bandName | capitalize }} Band Information</span>
        </h1>{{releaseVersion | log }}
        
        
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Competencies</caption>
            <tbody class="govuk-table__body">
            <th scope="row" class="govuk-table__header">Category</th>
            <th scope="row" class="govuk-table__header">Description</th>
            {% for x in range (0, competencies|length) %}
            <tr class="govuk-table__row" id="CompetenciesID-{{ competencies[x].category }}">
                <td class="govuk-table__cell" id="Competencies-{{ competencies[x].category }}">
                    {{ competencies[x].category }}
                </td>

                <td class="govuk-table__cell">
                    {{ competencies[x].description }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% set categories = ['Professional skills', 'Technical skills', 'Development programmes'] %}

        <h1 class="govuk-table__caption govuk-table__caption--m">Training Courses</h1>
        {% for item in categories %}
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <th scope="row" class="govuk-table__header">Training</th>
            <th scope="row" class="govuk-table__header">Date</th>
            <th scope="row" class="govuk-table__header">Hours</th>
            <th scope="row" class="govuk-table__header">Registration</th>
            <caption class="govuk-table__caption govuk-table__caption--m">{{ item }}</caption>

            {% for x in range (0, training|length) %}
            {% if item == training[x].category %}
            <tr class="govuk-table__row" id="TrainingId-{{ training[x].trainingDate }}">
                <td class="govuk-table__cell" id="Training-{{ training[x].trainingDate }}">
                    {{ training[x].trainingName }}
                </td>
                <td class="govuk-table__cell">
                    {{ training[x].trainingDate }}
                </td>
                <td class="govuk-table__cell">
                    {{ training[x].durationHours }}
                </td>
                <td class="govuk-table__cell">
                    {{ training[x].registration }}
                </td>
            </tr>
            {% endif %} 
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}