{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Kainos Employee System
            <span class="govuk-caption-xl">Capability Report</span>
        </h1>{{releaseVersion | log }}
        <p>
            Please see below for the list of employees
        </p>

        {% set caprows = [] %}
        {% for capability in capabilities %}
        {% set caprows = (caprows.push([{text: capability.roleName}, {text: capability.capabilityName}]), caprows) %}
        {% endfor %}
        {{govukTable({
        head: [ { text: "Job Role" },{ text: "Capability" }],
        rows: caprows })
        }}




    </div>
</div>

{% endblock %}